<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>PrintTpl</title>
  <script src=../../../Scripts/vendor/jquery.min.js></script>
  <link href=../../../Scripts/extjs/packages/ext-theme-neptune/ext-theme-neptune-all.css rel=stylesheet>
  <link href=../../../Scripts/extjs/ext.css rel=stylesheet>
  <link href=../../../Scripts/vendor/toastr/toastr.min.css rel=stylesheet>
  <script src=../../../Scripts/extjs/ext-all-debug.js></script>
  <script src=../../../Scripts/extjs/ext-locale-zh_CN.js></script>
  <link href="../../../Scripts/extjs/packages/ext-theme-neptune/ext-theme-neptune-all.css" rel="stylesheet">
  <script src="../../../Scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../../Scripts/extjs/ext-locale-zh_CN.js"></script>
  <script src="../../../Scripts/vendor/barcode-print/LodopFuncs.js"></script>
</head>
<body>
<div id="buttons" style="height: 50px; width: 700px">
  <button onclick="print()" backcolor="#cccccc"
          style="border-right: #7b9ebd 1px solid; width: 80px; height: 20px; padding-right: 2px; border-top: #7b9ebd 1px solid; padding-left: 2px; font-size: 13px; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); border-left: #7b9ebd 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #7b9ebd 1px solid;">
    设计
  </button>
  <button onclick="save()" backcolor="#cccccc"
          style="border-right: #7b9ebd 1px solid; width: 80px; height: 20px; padding-right: 2px; border-top: #7b9ebd 1px solid; padding-left: 2px; font-size: 13px; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); border-left: #7b9ebd 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #7b9ebd 1px solid;">
    保存
  </button>
</div>
<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="0" height="0">
  <embed id="LODOP_EM" type="application/x-print-lodop" width="0" height="0" border="0" color="#3399FF"
         pluginspage="install_lodop.exe">
</object>
<script>
  var panel = Ext.create('Ext.panel.Panel', {
    height: 600,
    width: 800,
    border: 2,
    marigin: '10 10',
    layout: 'fit',
    renderTo: Ext.getBody(),
    items: [{
      xtype: 'textareafield',
      id: 'textarea',
      labelAlign: 'top',
      grow: true,
      name: 'message',
      fieldLabel: '模板代码内容'
    }]
  });
  var strResult = "";
  var LODOP = "";
  function checkIsInstall () {
    try {
      LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
      var tplJs = Ext.decode(Ext.util.Cookies.get('TplJs'));
      eval(tplJs);
      //LODOP.PREVIEW();
      Ext.getCmp('textarea').setValue(tplJs);
      if (Ext.util.Cookies.get("TplJsAfter")) {
        Ext.util.Cookies.clear("TplJsAfter");
      }
    } catch (err) {
      //alert("Error:本机未安装或需要升级!");
    }
  };
  checkIsInstall();
  function print () {
    var LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
    var tplJs = Ext.decode(Ext.util.Cookies.get('TplJs'));
    eval(tplJs);
    var strResult = LODOP.PRINT_DESIGN();
    LODOP.SHOW_CHART();
    var imgsrc = "<img src='../content/images/";
    strResult = strResult.replace(/[A-Za-z]:\\.*\\(.*.[jpg|png|bmp|jpg|jpeg|gif])/ig, imgsrc + "$1" + "'>");
    Ext.getCmp('textarea').setValue(strResult);

  };
  function save () {
    var strResult = Ext.getCmp('textarea').getValue();
    Ext.util.Cookies.set('TplJsAfter', Ext.encode(strResult));
    Ext.MessageBox.alert("提示", "保存成功!");
  }
</script>

</body>
</html>
